In [30]:
#   program to convert set to tuple
# create set
s = {'a', 'b', 'c', 'd', 'e'}
 
# print set
print(type(s), " ", s)
 
# call tuple() method 
# this method convert set to tuple
t = tuple(s)
 
# print tuple
print(type(t), " ", t)

<class 'set'>   {'e', 'c', 'a', 'd', 'b'}
<class 'tuple'>   ('e', 'c', 'a', 'd', 'b')

In [31]:
s = {'a', 'b', 'c', 'd', 'e'} 
x=[i for i in s]
print(tuple(x))

('e', 'c', 'a', 'd', 'b')

In [32]:
s = {'a', 'b', 'c', 'd', 'e'} 
x=[i for a,i in enumerate(s)]
print(tuple(x))

('e', 'c', 'a', 'd', 'b')

In [33]:
#program to convert tuple into set
 
# create tuple
t = ('x', 'y', 'z')
 
# print tuple
print(type(t), "  ", t)
 
# call set() method
s = set(t)
 
# print set
print(type(s), "  ", s)

<class 'tuple'>    ('x', 'y', 'z')
<class 'set'>    {'y', 'x', 'z'}

In [34]:
#initializing a set
test_set = {6, 3, 7, 1, 2, 4}
 
#converting the set into a tuple
test_tuple = (*test_set,)
 
#printing the converted tuple
print("The converted tuple : " + str(test_tuple))

The converted tuple : (1, 2, 3, 4, 6, 7)

In [35]:
s = {'a', 'b', 'c', 'd', 'e'}
 
# initialize an empty tuple
t = tuple()
 
# loop through each element in the set s
for i in s:
    # create a one-element tuple with the current element i and concatenate it to t
    t += (i,)
 # print the resulting tuple
print(t)

('e', 'c', 'a', 'd', 'b')